 .radio label input[type="radio"],  .checkbox label input[type="checkbox"] {
    float: left;
 	margin-left: none;
}

body.body{
	padding-top:40px;
	margin-left:10%;
	margin-right:10%;
}

.dataTables_wrapper {
	position: relative;
    clear: both;
}
